<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<link rel="icon" href="../static/img/icon.png">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/site.css">

</head>

<body>
	<!-- Barra de navegação: -->
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="Index.html">Atividade de FDW</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="Servicos.html">Serviços</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Sobre.html">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Contato.html">Contato</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1>Bem vindo ao nosso website!</h1>
				<br/>
				
				<img src="../static/img/languages.jpg" class="img-fluid" alt="Responsive image"/>
				
				<br/>
				<br/>
				<p>Este website ainda está em construção, mas algumas das sua funcionalidade já estão disponíveis:</p>
			</div>
		</div>
		<a class="btn btn-outline-secondary" href="Servicos.html">Serviços</a>
		<a class="btn btn-outline-secondary" href="Sobre.html">Sobre</a>
		<a class="btn btn-outline-secondary" href="Contato.html">Contato</a>
	</div>
			
	
</body>

<footer class="footer">
	<hr/>
	<div class="container-fluid">
		<p>Atividade de FDW - 2017.</p>
	</div>
</footer>
	
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/tether.min.js"></script>
	<script src="../static/js/site.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/site.js"></script>
	
</html>
